<a href="https://colab.research.google.com/github/chethanamuppalla/regression/blob/main/logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import linear_model

In [ ]:
data=pd.read_csv("/content/marks.csv")
data

   id  total  P/F?
0   1     91     1
1   2     85     1
2   3     30     0
3   4     12     0
4   5     68     1
5   6     72     1
6   7     40     1
7   8     35     0
8   9     99     1
9  10     89     1

In [ ]:
x = pd.DataFrame(data['total'])
y = pd.DataFrame(data['P/F?'])

In [ ]:
reg=linear_model.LogisticRegression()
reg.fit(x,y)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
xtest=pd.DataFrame([65,22,37,92])
ypred=reg.predict(xtest)
print(ypred)

[1 0 0 1]

In [ ]:
ytest=pd.DataFrame([1,0,1,1])

In [ ]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(ytest,ypred)
print(cm)

[[1 0]
 [1 2]]

In [ ]:
accuracy=(cm[0][0]+cm[1][1])/4
print(accuracy)

0.75